@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200&display=swap');

$backgroundColor: white;
$primaryColor: #7B6565;

@mixin grid($cstart, $cspan, $rstart, $rspan)
{
    grid-column-start: $cstart;
    grid-column-end: span $cspan;
    grid-row-start: $rstart;
    grid-row-end: span $rspan;  
}

body {
    background-color: $backgroundColor;
    color: $primaryColor;


}

header {
    > div {
        display: flex;
        justify-content: space-between;

        $size: 1.75em;
        $distance: $size / 3;
 
        margin-top: $distance;
        div.switch {
            > a {
                color: $primaryColor;
                text-decoration: none;

                display: flex;
                align-items: center;

                > span.mdi {
                    font-size: 1.5em;
                }

                > span.label {
                    padding-left: 0.5em;
                }
            }
        }
        div.social {
            display: flex;
            align-items: center;    
        }        
    }
        
    h1 {
        font-family: 'Assistant', sans-serif;
        font-size: 5em;
        color: $primaryColor;
        text-align: center;
    
        margin-bottom: 0;

        flex-grow: 3;

        transition: 0.1s all;
    }
    
    h2 {
        font-family: 'Assistant', sans-serif;
        font-size: 1.1em;
        color: $primaryColor;
        text-align: center;
        
        margin-top: 0;
        flex-grow: 3;

        transition: 0.1s all;
    }
    
}

section {
    h1 {
        font-family: 'Assistant', sans-serif;
        margin: 0; 
        transition: 0.1s all;
    }

    h2 {
        font-family: 'Assistant', sans-serif;
        font-size: 1em;
        text-align: center;
        margin: 0;
        transition: 0.1s all;
    }
    
    p {
        text-align: justify;
        transition: 0.1s all;
    }
}

body {
    margin: 0 auto;
    width: 80%;
    max-width: 1280px;
    

    // Laptops, Desktops
    @media (min-width: 1025px) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        column-gap: 10%;
        row-gap: 15px;        
    }

    // Tablets portrait
    @media (min-width: 768px) and (max-width: 1024px) {

    }

    // Tablets landscape
    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    }

    // Mobile landscape
    @media (min-width: 481px) and (max-width: 767px) {
        background-color: indianred;
    }

    // Mobile portrait
    @media (min-width: 320px) and (max-width: 480px) {
        background-color: lightseagreen;
    }


}

footer {
    @include grid(1, 3, 3, 1);   
    margin-top: 2em;

    text-align: center;
    
    p {
        font-family: 'Assistant', sans-serif;
        font-size: 1.1em;
        color: $primaryColor;
        text-align: center;
        font-weight: bold;
    }
}


figure {
    position: relative;
    width: 100%;
    padding: 1em;

    margin: 0;
    margin-bottom: 1em;
    img {
        width: 100%;
    }

    figcaption {
        position: absolute;
        bottom: -0.1em;
    }
}

figure::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    width: 1em;
    height: 1em;


    border-left: 1px solid $primaryColor;
    border-top: 1px solid $primaryColor;
}

figure::after {
    transition: all 1s;
    content: ' ';
    position: absolute;
    right: 0;

    width: 1em;
    height: 1em;

    border-right: 1px solid $primaryColor;
    border-bottom: 1px solid $primaryColor;
}


header {
    // Laptops, Desktops
    @media (min-width: 1025px) {
        @include grid(1, 3, 1, 1);       
    }

    // Tablets portrait
    @media (min-width: 768px) and (max-width: 1024px) {
    }      
}

div#main_panel {
    @include grid(1, 2, 2, 1);   

    section {
        position: relative;

        h1 {
            a {
                color: $primaryColor;
                text-decoration: none;
            }            
        }
    }   
    
    article {
        h1 {
            color: $primaryColor;
            font-family: 'Assistant', sans-serif;
        }
    }
}

div#right_panel {
    // Laptops, Desktops
    @media (min-width: 1025px) {
        @include grid(3, 1, 2, 1);    
    }

    // Tablets portrait
    @media (min-width: 768px) and (max-width: 1024px) {
        display: flex;
        flex-wrap: wrap;

        section {
            box-sizing: border-box; 
            width: 50%;
            padding: 1em;
        }
    } 

    

    section { 
        h1 {
            text-align: center;
            font-size: 1.1em;
        }
    }

    ol {        
        position: relative;
        padding: 1em;
        padding-left: 2em;
        li::marker { 
            content: counter(list-item, lower-roman);         
        }

        li {
            padding-left: 1em;
            height: 2em;
            line-height: 2em;        
          
            position: relative;

            a {    
                position: absolute;
                left: 1em;
                right: 0;
                top: 0;
                bottom: 0;
                text-decoration: none;
                color: $primaryColor;          
            }

            a::after {
                transition: all 1s ease-out;
                content: ' ';
                position: absolute;
                bottom: 0;
                left: 0;

                height: 1px;
                width: 0%;
                background-color: $primaryColor;
            }

            a:hover::after {
                width: 80%;
            }
        }

    }

    ol::before {
        transition: all 1s;
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;

        width: 1em;
        height: 1em;

        border-left: 1px solid $primaryColor;
        border-top: 1px solid $primaryColor;
    }

    ol::after {
        transition: all 1s;
        content: ' ';
        position: absolute;
        bottom: 0;
        right: 0;

        width: 1em;
        height: 1em;

        border-right: 1px solid $primaryColor;
        border-bottom: 1px solid $primaryColor;
    }

    ol:hover::before {
        width: 6em;
        height: 6em;
    }

    ol:hover::after {
        width: 6em;
        height: 6em;
    }
}

div.post-info {
    position: absolute;
    top: 3em;
    left: -10%;
    div.post-date {
        border-right: solid 1px $primaryColor;
        padding: 0.5em;

        display: flex;
        flex-direction: column;

        span.year {
            font-size: 1.5em;           
        }

        span.date {
            font-size: 0.75em;
        }
    }
}

ul.family {
    display: flex;
    flex-wrap: wrap;

    $size: 8em;
    position: relative;
    width: $size;
    height: $size;

    list-style: none;
    
    padding: 0;

    border: solid 4px red;

    > li {
        position: absolute;
        display: flex; 
        justify-content: center;
        align-items: center;
        box-sizing: border-box;

        width: $size / 2;
        height: $size / 2;
        

        left: 25%;
        top: 25%;

        
    }

    > li::before {
        position: absolute;
        content: ' ';

        padding: 0.3em;
        box-sizing: border-box;
        transition: all 1s;

        width: 40%;
        height: 40%;
 
        transition: all 1s;
    }    

    > li:hover::before{
        position: absolute;
        width: 60%;
        height: 60%;
    }

    > li:nth-of-type(1) {
        transform: rotate(45deg) translate(calc(-50% + 1px), calc(-50% + 1px));
        background-origin: padding-box;
    }

    > li:nth-of-type(2) {
        transform: rotate(45deg) translate(50%, calc(-50% + 1px));
    }

    > li:nth-of-type(3) {
        transform: rotate(45deg) translate(calc(-50% + 1px), 50%);
    }

    > li:nth-of-type(4) {
        transform: rotate(45deg) translate(50%, 50%);
    }

    $borderSize: 2px;
    > li:nth-of-type(1)::before {
        border-right: solid 1px $primaryColor;
        border-bottom: solid 1px $primaryColor; 

        right: 0;
        bottom: 0;
        
    }

    // Right
    > li:nth-of-type(2)::before {
        border-left: solid 1px $primaryColor;
        border-bottom: solid 1px $primaryColor;

        left: 0;
        bottom: 0;
  
    }

    // Left
    > li:nth-of-type(3)::before {
        border-right: solid 1px $primaryColor;
        border-top: solid 1px $primaryColor;   
        right: 0;
    }


    // Bottom
    > li:nth-of-type(4)::before {
        border-left: solid 1px $primaryColor;
        border-top: solid 1px $primaryColor;
    }
    //
    

    /*
    > li {
        position: relative;
        display: flex; 
        justify-content: center;
        align-items: center;
               
        width: 4em;
        height: 4em;
        line-height: 2em;
        text-align: center;

        transition: all 1s;

        //transform: rotate(-45deg);
        box-sizing: border-box;

        > span {
            //transform: rotate(-45deg);
            font-size: 1.2em;
        }
    }

    > li:hover{
        > span {
            cursor: pointer;
            font-size: 1.6em;            
        }

    }

    > li:hover{
        > span {
            cursor: pointer;
            font-size: 1.6em;            
        }

    }

    > li::before {
        position: absolute;
        content: ' ';


        width: 40%;
        height: 40%;
        box-sizing: border-box;
        transition: all 1s;

    }

    > li:hover::before{
        width: 60%;
        height: 60%;
    }

    // Top

    */
}
