@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200&display=swap');

$backgroundColor: #2d3436;
$primaryColor: #dfe6e9;


@mixin grid($cstart, $cspan, $rstart, $rspan)
{
    grid-column-start: $cstart;
    grid-column-end: span $cspan;
    grid-row-start: $rstart;
    grid-row-end: span $rspan;  
}

body {
    background-color: $backgroundColor;
    color: $primaryColor;
}

header {
    > div {
        display: flex;
        justify-content: space-between;

        $size: 1.75em;
        $distance: $size / 3;
 
        margin-top: $distance;
        div.switch {
            > a {
                color: $primaryColor;
                text-decoration: none;

                display: flex;
                align-items: center;

                > span.mdi {
                    font-size: 1.5em;
                }

                > span.label {
                    padding-left: 0.5em;
                }
            }
        }
        div.social {
            display: flex;
            align-items: center;    
        }        
    }
        
    h1 {
        font-family: 'Assistant', sans-serif;
        font-size: 5em;
        color: $primaryColor;
        text-align: center;
    
        margin-bottom: 0;

        flex-grow: 3;
    }
    
    h2 {
        font-family: 'Assistant', sans-serif;
        font-size: 1.1em;
        color: $primaryColor;
        text-align: center;
        
        margin-top: 0;
        flex-grow: 3;
    }
    
}

section {
    h1 {
        font-family: 'Assistant', sans-serif;
        margin: 0; 
    }

    h2 {
        font-family: 'Assistant', sans-serif;
        font-size: 1em;
        text-align: center;
        margin: 0;
    }
    
    p {
        text-align: justify;
    }
}

body {
    margin: 0 auto;
    width: 80%;
    max-width: 1280px;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    column-gap: 10%;
    row-gap: 15px;
}


figure {
    position: relative;
    width: 100%;
    padding: 1em;

    margin: 0;
    img {
        width: 100%;
    }
}

figure::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    width: 1em;
    height: 1em;


    border-left: 1px solid $primaryColor;
    border-top: 1px solid $primaryColor;
}

figure::after {
    transition: all 1s;
    content: ' ';
    position: absolute;
    bottom: 1.3em;
    right: 0;

    width: 1em;
    height: 1em;

    border-right: 1px solid $primaryColor;
    border-bottom: 1px solid $primaryColor;
}


header {
    @include grid(1, 3, 1, 1);   
}

div#main_panel {
    @include grid(1, 2, 2, 1);   

    section {
        position: relative;

        h1 {
            a {
                color: $primaryColor;
                text-decoration: none;
            }            
        }
        p {

        }
    }   
    
    article {
        h1 {
            color: $primaryColor;
            font-family: 'Assistant', sans-serif;
        }
    }
}

div#right_panel {
    @include grid(3, 1, 2, 1); 

    section { 
        h1 {
            text-align: center;
            font-size: 1.1em;
        }
    }

    ol {        
        position: relative;
        padding: 1em;
        padding-left: 2em;
        li::marker { 
            content: counter(list-item, lower-roman);         
        }

        li {
            padding-left: 1em;
            height: 2em;
            line-height: 2em;        
          
            position: relative;

            a {    
                position: absolute;
                left: 1em;
                right: 0;
                top: 0;
                bottom: 0;
                text-decoration: none;
                color: $primaryColor;          
            }

            a::after {
                transition: all 1s ease-out;
                content: ' ';
                position: absolute;
                bottom: 0;
                left: 0;

                height: 1px;
                width: 0%;
                background-color: $primaryColor;
            }

            a:hover::after {
                width: 80%;
            }
        }

    }

    ol::before {
        transition: all 1s;
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;

        width: 1em;
        height: 1em;

        border-left: 1px solid $primaryColor;
        border-top: 1px solid $primaryColor;
    }

    ol::after {
        transition: all 1s;
        content: ' ';
        position: absolute;
        bottom: 0;
        right: 0;

        width: 1em;
        height: 1em;

        border-right: 1px solid $primaryColor;
        border-bottom: 1px solid $primaryColor;
    }

    ol:hover::before {
        width: 6em;
        height: 6em;
    }

    ol:hover::after {
        width: 6em;
        height: 6em;
    }
}

div.post-info {
    position: absolute;
    top: 3em;
    left: -10%;
    div.post-date {
        border-right: solid 1px $primaryColor;
        padding: 0.5em;

        display: flex;
        flex-direction: column;

        span.year {
            font-size: 1.5em;           
        }

        span.date {
            font-size: 0.75em;
        }
    }
}