<!doctype html>

<html lang="en">
<head class="header">
  <meta charset="utf-8">

  <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} // {{ .Site.Title }}{{ end }}</title>

  <meta name="author" content="{{ .Site.Params.author | default "Gil Engel" }}" />
  <meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Description }}{{ end }}" />

  <link rel="icon" type="image/svg+xml" href="favicon.svg" sizes="any" color="#9900ff">


  <link rel="stylesheet" href="//cdn.materialdesignicons.com/5.3.45/css/materialdesignicons.min.css">
  {{ $style := resources.Get "css/base.scss" | resources.ExecuteAsTemplate "css/base.scss" . | resources.ToCSS | resources.Minify | resources.Fingerprint -}}
  {{ $brightStyle := resources.Get "css/style_bright.scss" | resources.ExecuteAsTemplate "css/base.scss" . | resources.ToCSS | resources.Minify | resources.Fingerprint -}}
  {{ $darkStyle := resources.Get "css/style_dark.scss" | resources.ExecuteAsTemplate "css/base.scss" . | resources.ToCSS | resources.Minify | resources.Fingerprint -}}

  

  <link rel="stylesheet" href="{{ $style.Permalink }}" />

  {{ $js := resources.Get "js/script.js" }}
  <script language="javascript" type="text/javascript" src="{{ $js.Permalink }}"></script>
  <noscript>
    <link rel="stylesheet" href="style_bright.css"> 
  </noscript>
</head>

<body>
    <header>
        <div>
            <div id="switch" class="switch">
                <a id="switch_mode" href="#">
                   <span class="mdi mdi-theme-light-dark"></span>
                   <span class="label">Switch Theme</span>
                </a>

                <a id="increase_font_size" href="#">Font +</a> / 
                <a id="decrease_font_size" href="#">Font -</a>
                <a id="standard_font_size" href="#">Default</a>
            </div>
            <div class="social">
                <span>Social Media comming soon</span>
            </div>
        </div>

        <h1>EPOS</h1>
        <h2>It all started with a quest</h2>
    </header>
    <div id="main_panel">
        {{ block "main" . }}

        {{ end }}
    </div>
    <div id="right_panel">
        <ul class="family">
            <li><span>1</span></li>
            <li><span>2</span></li>
            <li><span>3</span></li>
            <li><span>4</span></li>
        </ul>

       <section id="about">
            <h1>About</h1>
            <p>
                An Unreal Engine 4&reg; plugin to create tasks and quest for any game which is integratable in every game that can used and extend by experts and beginners alike. Not convinced? See full feature set here
            </p>
        </section>

        <section id="purchase">
            <h1>How to Get?</h1>
            <p>
                Available as download at the Unreal Engine (R) marketplace for affordable 39,95$. Get your copy here today.
            </p>
        </section>

        <section id="purchase">
            <h1>Let's go on a quest</h1>
            <h2>The tutorial Series</h2>
            
            <p>
                We cover the complete feature set of EPOS in this tutorial series. Enjoy :)
            </p>
        </section>

        <ol>
            {{ range where .Site.Pages "Params.series" "tutorial_v1" }}
            <li>
                <a href="{{.Permalink}}">{{.Title}}</a>
            </li>
            {{ end }}
        </ol>
    </div>
    <footer>
        {{ block "footer" . }}
        {{ end }}
    </footer>
    <script>
        
(function () {
    "use strict";

    function setFontSizeForSingleElement(txt, size) {
        const style = window.getComputedStyle(txt, null).getPropertyValue('font-size');
        const currentSize = parseFloat(style);
        txt.style.fontSize = (currentSize + size) + 'px';
    }

    function setFontSize(size) {
        const els = ['a', 'p', 'h1', 'h2', 'h3', 'h4', 'h5', 'span', 'figcaption', 'ol', 'ul'];

        for(let e of els) {
            for (let txt of document.getElementsByTagName(e)) {
                setFontSizeForSingleElement(txt, size);
            }
        }
    }

    function addStylesheet(name, loc) {
        var sheet = document.createElement("link");
        sheet.id = name;
        sheet.href = loc;
        sheet.rel = "stylesheet";
        sheet.type = "text/css";

        document.head.appendChild(sheet);

        return sheet;
    }

    function removeStylesheet(sheet) {
        sheet.parentNode.removeChild(sheet);
    }

    function go() {
        
        var switchButton = document.getElementById("switch_mode"), 
            increaseFontSizeBtn = document.getElementById('increase_font_size'),
            decreaseFontSizeBtn = document.getElementById('decrease_font_size'),
            standardFontSizeBtn = document.getElementById('standard_font_size'),
            fontSize = 0,
            daySheet,
            nightSheet;
        
        daySheet = addStylesheet("day", "{{ $brightStyle.Permalink }}");   
        
        increaseFontSizeBtn.addEventListener("click", function (e) {
            fontSize+=1;

            setFontSize(1);
        });

        decreaseFontSizeBtn.addEventListener("click", function(e) {
            fontSize-=1;

            setFontSize(-1);
        });

        standardFontSizeBtn.addEventListener("click", function (e) {
            setFontSize(fontSize * -1)

            fontSize = 0;
        });

        switchButton.addEventListener("click", function (e) {
            e.preventDefault();

            if(nightSheet === undefined)
            {
                nightSheet = addStylesheet("night", "{{ $darkStyle.Permalink }}");
                nightSheet.onload = function(){                    
                    removeStylesheet(daySheet);     
                    daySheet = undefined;
                }
                           
                
            }else{
                daySheet = addStylesheet("day", "{{ $brightStyle.Permalink }}");
                removeStylesheet(nightSheet);                
                nightSheet = undefined;
            }
        });
    }
    document.addEventListener("DOMContentLoaded", go);
}());
    </script>
</body>
</html>