{{ define "title" }}
  <!-- This will override the default value set in baseof.html; i.e., "{{.Site.Title}}" in the original example-->
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}
<article>
  <h1>{{ .Title }}</h1>
  {{ .Content }}

</article>
{{ end }}

{{ define "footer" }}
<p>&copy; 2020 Gil Engel<p></p>
{{ end }}