<section>
    <h1 class="post-title{{ if .Params.favorite }} favorite{{end}}">
        <a href="{{ .RelPermalink }}">{{ trim .Title " " }}</a>
    </h1>

    {{ .Summary | safeHTML }}
  
    {{ partial "postInfo.html" . }}
</section>