{{ $dateYear := "2006"}}
{{ $dateMonthAndDay := "January 2"}}
{{ $dateFormat := "2006-01-02" }}
{{ if .Site.Params.dateFormat }}
    {{ $dataYear = .Site.Params.dateFormat }}
{{ end }}

<div class="post-info">
    {{ if .Params.date }}
        <div class="post-date">
            <span class="year">{{ .Params.date.Format $dateYear }}</span>
            <span class="date">{{ .Params.date.Format $dateMonthAndDay }}</span>
        </div>
        
    {{ end }}
    <!--
    <div class="post-taxonomies">
        {{ if .Params.categories }}
            <ul class="post-categories">
                {{ range .Params.categories }}
                    <li><a href="{{ "categories/" | absLangURL }}{{ . }}">{{ . }}</a></li>
                {{ end }}
            </ul>
        {{ end }}
        -->
            <!--
            {{ if .Params.tags }}
                <ul class="post-tags">
                    {{ range .Params.tags }}
                        <li><a href="{{ "tags/" | absLangURL }}{{ . | urlize }}">#{{ . }}</a></li>
                    {{ end }}
                </ul>
        {{ end }}
            
    </div>
    -->
</div>
